@model MVCProject.Models.User
@{
    Layout = null;
}


<!doctype html>
<html>
<head>

    <!-- font-awesome icons -->
    <link href="~/Content/TextFile1.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Basic Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script>
    $(document).ready(function (c) {
            $('.alert-close').on('click', function (c) {
                $('.main-agile').fadeOut('slow', function (c) {
                    $('.main-agile').remove();
                });
            });
        });
    </script>
</head>
<body>
    <h1></h1>
    <div class="main-agile">
        <div class="content-wthree">
            <div class="circle-w3layouts"></div>
            @using (Html.BeginForm("LogInCheck", "LogIn", FormMethod.Post))
            {
            <h2>Login</h2>
            <form action="#" method="post">
                <div class="inputs-w3ls">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input name="username" placeholder="Username" required="required" type="text"/>
                </div>
                <div class="inputs-w3ls">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" name="Password" placeholder="Password" required="required" />
                </div>
                <input type="submit" value="LOGIN">
                <div class="wthree-text">
                </div>
            </form>
            }
        </div>
    </div>
    @*<div class="footer-w3l">*@
        
      </body>

</html>
