@model MVCProject.Models.Grade


<!DOCTYPE html>
<style>
    .headerdiv {
        padding-bottom: 0px;
        text-align: center;
        font-size: 10px;
        background-color: #31302a;
    }

    body {
        font-family: Arial;
        margin: auto;
        background-color: #e0ffe9;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Course to student</title>
</head>
<body>
    <div style="text-align: center" class="form-horizontal">
        <div class="headerdiv">
            <img style="padding-bottom:fixed" src="~/Content/logo_eng.png" />

        </div>
    </div>
    <br />

    <hr />
    <h3>Are you sure you want to delete this course for this student?</h3>
    <div>

        
        <br/>
        <br/>
        @using (Html.BeginForm("Index", "Registration", FormMethod.Post))
        {
            <div class="form-actions no-color">
                <input id="back" type="submit" value="Back" class="btn btn-default"/>
            </div>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> 
                
            </div>
        }
    </div>
</body>
</html>
